@using NBA.Model
@model Player

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-action="Index">Player list</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
		</ol>
	</nav>

	<div class="row">
		<h4>Player</h4>
		<hr />
		<div class="col-md-8">
			<dl class="dl-horizontal">
				<dt>
					ID
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ID)
				</dd>
				<dt>
					Full Name
				</dt>
				<dd>
					@Html.DisplayFor(model => model.FullName)
				</dd>
				<dt>
					Country
				</dt>
				<dd>
					@(@Model?.Country?.Name ?? "No country assigned")
				</dd>
				<dt>
					Team
				</dt>
				<dd>
					@if (Model?.Team != null)
					{
						<a asp-action="Details" asp-controller="Team" asp-route-id="@Model.Team.ID">@Model.Team.Name</a>
					}
					else
					{
						<span>No team assigned</span>
					}
				</dd>
				<dt>
					Position
				</dt>
				<dd>
					@(@Model?.Position?.Name ?? "No position assigned")
				</dd>
				<dt>
					Age
				</dt>
				<dd>
					@Model.GetAge()
				</dd>
				<dt>
					Height
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Height) cm
				</dd>
				<dt>
					Weight
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Weight) kg
				</dd>

				<dd>
					<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
				</dd>
				<dd>
					<button type="button" class="btn btn-danger">
						<a asp-action="Delete" asp-route-id="@Model.ID" style="color:white">Delete</a>
					</button>
				</dd>
			</dl>
		</div>
	</div>

}
else
{
	<div class="alert alert-danger">
		You've selected wrong player ID
	</div>

}

