@using NBA.Model
@model Player

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-action="Index">Player list</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
		</ol>
	</nav>

	<div>
		<h4>Player</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				ID
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ID)
			</dd>
			<dt>
				Full Name
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FullName)
			</dd>
			<dt>
				Country
			</dt>
			<dd>
				@Model?.Country?.Name
			</dd>
			<dt>
				Team
			</dt>
			<dd>
				@Model?.Team?.Name
			</dd>
			<dt>
				Position
			</dt>
			<dd>
				@Model?.Position?.Name
			</dd>
			<dt>
				Age
			</dt>
			<dd>
				@Model.GetAge()
			</dd>
			<dt>
				Height
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Height) cm
			</dd>
			<dt>
				Weight
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Weight) kg
			</dd>
		</dl>

		<div>
			<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
		</div>
	</div>

}
else
{
	<div class="alert alert-danger">
		You've selected wrong player ID
	</div>

}

