@using NBA.Model;
@model List<Team>

<table style="margin-top: 20px;" id="tablica" class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Team name</th>
            <th>Conference</th>
            <th>Venue</th>
            <th>Coach</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="team-row" data-id="@item.ID" onclick="redirectToDetails('@item.ID')">
                <td>
                    <img src="@item.Path" class="team-logo" />
                </td>
                <td>@item.Name</td>
                <td>@item.Conference?.Name</td>
                <td>@item.Venue?.Name</td>
                <td>@(@item.Coach?.FullName ?? "No coach yet!")</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function redirectToDetails(id) {
        var url = '@Url.Action("Details", "Team")/' + id;
        window.location.href = url;
    }
</script>
